body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #2d0f30;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section {
    flex: 5;
}

.call-section {
    flex: 3;
}

img {
    flex-shrink: 1;
    width: auto;
    height: 150px;
}
.cat img {
    border-radius: 8px;
}

.header {
    background-color: #bff6fd;
    color: #0f302d;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.logo {
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

li a,
.hero-section,
a,
button,
.call-card {
    color: #0f302d;
}

.hero-section {
    background-color: #bff6fd;
    color: #0f302d;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    max-width: 700px;
}

.hero-header {
    font-weight: 800;
    font-size: 48px;
}

.cat {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-section {
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1500px;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    max-width: 340px;
}

.call-section {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-card {
    flex-basis: 800px;
}

.card-header {
    font-size: 36px;
    font-style: extra-bold;
    color: #1F2937
}

.quote-section {
    background-color: #E5E7EB;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 70px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

button,
.call-card {
    background-color: #ffffff;
    border-radius: 6px;
}

button {
    padding: 4px;
    border: solid 1px #2ea8d4;
    flex: 0 0 auto;
}

.call-card {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #2ea8d4;
}

.call strong {
    font-size: 22px;
}

.footer {
    background-color: #bff6fd;
    color: #0f302d;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}